.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}

.table-wrapper {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
}

/* Zapobiegaj rozciąganiu */
.ant-table {
    width: 100% !important;
    table-layout: fixed !important;
}

/* Zmniejsz padding komórek na małych ekranach */
@media (max-width: 768px) {
    .ant-table-cell {
        padding: 4px !important;
        font-size: 9px;
        white-space: normal;

    }

    .ant-table-thead > tr > th {
        padding: 4px !important;
        font-size: 9px;
    }

    .ant-table {
        font-size: 9px;
    }
    .responsive-card {
        width: 140px;
        font-size: 10px;
        padding: 8px;
    }

    .responsive-card .ant-card-head-title {
        font-size: 11px;
    }

    .responsive-card p {
        margin: 4px 0;
    }
}
.blinking {
    animation: blinker 2s linear infinite;
    color: #d4380d;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}